<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Device Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Device Status</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (huntData.isHuntActive) {
    <app-hunt-timer
      [timer]="huntData.timer"
      [hunt]="huntData.currentHunt"
      [isOverdue]="isOverdue"
    >
    </app-hunt-timer>
  }

  <div class="hunt-content">
    <p>
      <ion-label>Please Plug your Phone in and charge it.</ion-label>
    </p>
    @if (charging) {
      <ion-icon name="battery-charging-outline" size="large"></ion-icon>
    } @else {
      <ion-icon name="battery-dead-outline" size="large"></ion-icon>
    }
  </div>

  <app-animated-action-button
    [availableStates]="actionButtonConfig.availableStates"
    [getState]="actionButtonConfig.getCurrentState"
    [handlers]="actionButtonConfig.handlers"
    [stateConfig]="actionButtonConfig.stateConfig"
    [isVisible]="actionButtonConfig.isVisible"
    position="bottom-end"
    size="default"
  >
  </app-animated-action-button>
</ion-content>
