<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ huntData.currentHunt?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (huntData.isHuntActive) {
    <app-hunt-timer
      [timer]="huntData.timer"
      [hunt]="huntData.currentHunt"
      [completionTime]="completionTime"
    >
    </app-hunt-timer>
  }

  <div class="hunt-content">
    @if (!wificontected && checkStarted === true) {
      <ion-label>Please conect to Wifi</ion-label>
    } @else {
      <ion-label>Please Disconect Form Wifi</ion-label>
    }
    @if (!checkStarted) {
      <ion-button (click)="statrtCheckingConection()"> Start Check</ion-button>
    }
  </div>

  <app-animated-action-button
    [availableStates]="actionButtonConfig.availableStates"
    [getState]="actionButtonConfig.getCurrentState"
    [handlers]="actionButtonConfig.handlers"
    [stateConfig]="actionButtonConfig.stateConfig"
    [isVisible]="actionButtonConfig.isVisible"
    position="bottom-end"
    size="default"
  >
  </app-animated-action-button>
</ion-content>
