<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ huntData.currentHunt?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ huntData.currentHunt?.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (huntData.isHuntActive) {
    <app-hunt-timer
      [timer]="huntData.timer"
      [hunt]="huntData.currentHunt"
      [isOverdue]="isOverdue"
    >
    </app-hunt-timer>
  }

  <ng-template #inactiveHunt>
    <div class="hunt-content">
      <p>
        Claim your ultimate prize! You've reached the end of your treasure hunt
        adventure!
      </p>
    </div>
  </ng-template>

  <app-animated-action-button
    [availableStates]="actionButtonConfig.availableStates"
    [getState]="actionButtonConfig.getCurrentState"
    [handlers]="actionButtonConfig.handlers"
    [stateConfig]="actionButtonConfig.stateConfig"
    [isVisible]="actionButtonConfig.isVisible"
    position="bottom-end"
    size="default"
  >
  </app-animated-action-button>
</ion-content>
