<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Yapp</ion-title>
    <div slot="end" class="timer-display" *ngIf="currentTimer > 0">
      {{ formatTime(currentTimer) }}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Yapp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard-container">
    <div class="hunt-grid">
      <ion-button
        *ngFor="let hunt of hunts"
        [color]="getHuntButtonColor(hunt)"
        [fill]="getHuntButtonFill(hunt)"
        [disabled]="!hunt.isUnlocked"
        (click)="onHuntClick(hunt)"
        class="hunt-button">
        <div class="hunt-content">
          <div class="hunt-number">{{ hunt.id }}</div>
          <div class="hunt-title">{{ getHuntDisplayTitle(hunt) }}</div>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>
