<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Yapp</ion-title>
    <div slot="end" class="toolbar-end">
      <ion-button fill="clear" size="small" (click)="onHelpClick()">
        <ion-icon name="help-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Yapp</ion-title>
      <ion-button fill="clear" slot="end" (click)="onHelpClick()">
        <ion-icon name="help-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <div class="dashboard-container">
    <div class="hunt-grid">
      @for (hunt of hunts; track hunt.id) {
        <div class="hunt-item">
          <ion-button
            fill="outline"
            [disabled]="!hunt.isUnlocked || hunt.isCompleted"
            (click)="onHuntClick(hunt)"
            class="hunt-button"
            [attr.data-status]="getHuntStatus(hunt)"
          >
            <div class="hunt-content">
              <div class="hunt-number">{{ hunt.id }}</div>
              <div class="hunt-title">{{ getHuntDisplayTitle(hunt) }}</div>
            </div>
          </ion-button>
        </div>
      }
    </div>
  </div>

  <!-- Animated Action Button -->
  <app-animated-action-button
    [availableStates]="dashboardActionButtonConfig.availableStates"
    [handlers]="dashboardActionButtonConfig.handlers"
    [stateConfig]="dashboardActionButtonConfig.stateConfig"
    [getState]="dashboardActionButtonConfig.getCurrentState"
    [isVisible]="dashboardActionButtonConfig.isVisible"
    position="bottom-start"
    size="small"
  >
  </app-animated-action-button>
</ion-content>
