<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>First dsDiscovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">First Discovery</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (huntData.isHuntActive) {
    <app-hunt-timer
      [timer]="huntData.timer"
      [hunt]="huntData.currentHunt"
      [isOverdue]="isOverdue"
    >
    </app-hunt-timer>
  }
  <div class="hunt-content">
    <p>Scan the Qr Code</p>
    <p>
    Welcome to your first hunt! Follow the clues to complete this challenge.
  </p>
    <ion-label>Pleas got to the Target</ion-label>
    @if (isTracking === true) {

      <ion-label>Distance To Target </ion-label>
      <ion-label>{{ distanceToPoint | number: '1.2-2' }} m </ion-label>
    } @else {
      <ion-button (click)="startTracking()">Start Tracking</ion-button>
    }

  </div>
  <ng-template #inactiveHunt>
    <div class="hunt-content">


    </div>
  </ng-template>

  <app-animated-action-button
    [availableStates]="actionButtonConfig.availableStates"
    [getState]="actionButtonConfig.getCurrentState"
    [handlers]="actionButtonConfig.handlers"
    [stateConfig]="actionButtonConfig.stateConfig"
    [isVisible]="actionButtonConfig.isVisible"
    position="bottom-end"
    size="default"
  >
  </app-animated-action-button>
</ion-content>
