<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>First Discovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">First Discovery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="huntData.isHuntActive; else inactiveHunt">
    <app-hunt-timer
      [timer]="huntData.timer"
      [hunt]="huntData.currentHunt"
      [isOverdue]="isOverdue"
    >
    </app-hunt-timer>
  </ng-container>

  <ng-template #inactiveHunt>
    <div class="hunt-content">
      <p>
        Welcome to your first hunt! Follow the clues to complete this challenge.
      </p>
    </div>
  </ng-template>

  <app-animated-action-button
    [availableStates]="actionButtonConfig.availableStates"
    [getState]="actionButtonConfig.getCurrentState"
    [handlers]="actionButtonConfig.handlers"
    [stateConfig]="actionButtonConfig.stateConfig"
    [isVisible]="actionButtonConfig.isVisible"
    position="bottom-end"
    size="default"
  >
  </app-animated-action-button>
</ion-content>
